ul{
  margin: 0;
}

.title {
  text-align: center;
  color: black;
  font-family: cursive;
}

.nav{
  padding: 25px;
}

.nav ul li{
  list-style: none;
  display: flex;
}

.nav ul li a {
  text-decoration: none;
  margin-right: 25px;
  font-size: 22px;
}

.active-link{
  color: greenyellow;
  text-decoration: underline!important;
}

.posts{
  padding: 25px 50px;
}

.posts a{
  font-size: 22px;
  font-weight: 900;
}

.post{
  padding: 15px 100px;
}

.post p{
  font-size: 22px;
  font-weight: 700;
}

.posts ul{
  font-weight: 900;
  color: chocolate;
}